@model EjercicioHotel.Models.Traslado

,
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Traslado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Punto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Punto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdHuesped)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdHuesped)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.huesped.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.huesped.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.huesped.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.huesped.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
