@model IEnumerable<EjercicioHotel.Transporte>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Recorridos
</h1>
<p> <a class="nav-link text-dark" asp-area="" asp-controller="PuntoTuristicoes" asp-action="Index">Puntos Turisticos</a> </p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recorrido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recorrido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km)
            </td>
            <td>

                <a asp-controller="Transportes" asp-action="IndexHuesped" >Ver Huespedes</a> |

            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>

        </tr>
            }
    </tbody>
</table>
