@model IEnumerable<EjercicioHotel.Transporte>

@{
    ViewData["Title"] = "Index";
}

<h1>Transportes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recorrido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recorrido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Ver Puntos</a> |

            </td>
            <td>

                <a asp-action="DetailsH" asp-route-id="@item.Id">Ver Huespedes</a> |

            </td>
        </tr>
}
    </tbody>
</table>
